body {
    background-color: #fcfcfc;
}
html * {
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
}

svg {
    background-color: transparent;
    overflow: visible;
}

form {
    display: inline-block;
    margin: 0 1em 1em 0;
}

div.page-content {
    padding: 1em;
}

div#data {
    display: flex;
}
div#data > * {
    margin: 1em;
}

div#vis {
    flex-basis: 80vw;
}
table#stats {
    flex-basis: 20vw;
}

div.vis {
    margin-top: 3em;
}

th {
    cursor: pointer;
}

span.spacer {
    display: inline-block;
    width: 1em;
}
#progress {
    display: none;
}

div.slider {
    display: inline-block;
    width: 200px;
}
div.slider > input {
    display: inline-block;
}

input:-webkit-autofill {
    -webkit-box-shadow: -1px -1px 1px 1000px #fcfcfc inset;
}
